<h1 class="bg-primary" >Bienvenido a la tienda virtual de juan</h1>
<br>
<h2>Inicio</h2>
<h4>Modulo de clientes</h4>
<a class="btn btn-default" href="clientes" role="Clientes">Mostrar</a>
<a class="btn btn-default" href="clientes/new" role="Clientes">Registrar</a>
<a class="btn btn-default" href="clientes/edit" role="Clientes">Modificar</a>
<br>  
<h4>Modulo de productos</h4>
<a class="btn btn-default" href="productos" role="productos">Mostrar</a>
<a class="btn btn-default" href="productos/new" role="productos">Registrar</a>
<a class="btn btn-default" href="productos/edit" role="prouctos">Modificar</a>
